<h1>Chat</h1>

<label for="user">User</label><input id="inputUser" name="user" type="text" disabled>
<label for="message">message</label><input id="inputMessage" name="message" type="text">
<button id="btnSend">Send</button>

<h3>Messages</h3>
<div id="messages"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>