<h1>Login!</h1>
<form id="formLogin">
  <label for="email">email</label><input id="inputEmail" name="email" type="email"><br />
  <label for="password">password</label><input id="inputPassword" name="password" type="password"><br />
  <button type="submit">Log in</button>
</form>
  <br />
  <a href="/register">Sign up</a>

<script src="/js/login.js"></script>