<h1>Registro</h1>
<form action="" id="formRegister">
  <label for="inputFirstname">inputFirstname</label> <input id="inputFirstname" type="text"><br>
  <label for="inputLastname">inputLastname</label> <input id="inputLastname" type="text"><br>
  <label for="inputEmail">inputEmail</label> <input id="inputEmail" type="email"><br>
  <label for="inputAge">age</label> <input id="inputAge" type="number"><br>
  <label for="inputPassword">password</label> <input id="inputPassword" type="password"><br>
  <button type="submit">Enviar</button>
</form>

<script src="/js/register.js"></script>